#buyerLoginTopic{
    width: 100%;
    align-content: center;
    line-height: 100%;
    font-size: 400%;
}

#buyerLoginLogo{
    width: 30%;
    vertical-align: top;
    align-self: center;
}

#buyerEmailAddress{

}
