.ui-btn{
    text-align: center;
    text-decoration: none;
    font-family: Capriola, serif;
}

#homeButtons{
    background-position: bottom;
    vertical-align: bottom;
    width: 263px;
    height: 64px;
}

#logo{
    width: 50%;
    vertical-align: top;
    /*width: 284px;*/
    /*height: 284px;*/
}

.home{
    position: relative;
}

.home.buttons{
    position: absolute;
    bottom: 0;
}

#footer{
    position: absolute !important;
    bottom: 0;
    width: 100%;
    background: white;
}

#buyerLogin{
    background: #df1f4e;
    color: white
}

#sellerLogin{
    background: #ee9933;
    color: white
}

@font-face {
    font-family: Capriola;
    src: url('Fonts/Capriola.ttf');
    font-style: normal;
}

@font-face {
    font-family: BalooBhai;
    src: url('Fonts/BalooBhai.ttf');
    font-style: normal;
}

@font-face {
    font-family: Montserrat;
    src: url('Fonts/Montserrat.ttf');
    font-style: normal;
}