.ui-btn{
    text-align: center;
    text-decoration: none;
    font-family: Capriola, serif;
}

#homeButtons{
    background-position: bottom;
    vertical-align: bottom;
    width: 40%;
    height: 40%;
    padding-top: 20%;
}

#logo{
    padding-top: 15%;
    width: 70%;
    vertical-align: top;
    /*width: 284px;*/
    /*height: 284px;*/
}

.home{
    position: relative;
}



#footer{
    position: absolute !important;
    bottom: 0;
    width: 100%;
    background: white;
}

#buyerLogin{
    background: #df1f4e;
    color: white;
    padding-bottom: 10%;
    padding-top: 10%;
    width: 100%;
}

#sellerLogin{
    background: #ee9933;
    color: white;
    padding-bottom: 10%;
    padding-top: 10%;
    width: 100%;
}

@font-face {
    font-family: Capriola;
    src: url('Fonts/Capriola.ttf');
    font-style: normal;
}

@font-face {
    font-family: BalooBhai;
    src: url('Fonts/BalooBhai.ttf');
    font-style: normal;
}

@font-face {
    font-family: Montserrat;
    src: url('Fonts/Montserrat.ttf');
    font-style: normal;
}