.ui-btn{
    text-align: center;
    text-decoration: none;
    font-family: Capriola, serif;
}

@font-face {
    font-family: Capriola;
    src: url('Fonts/Capriola.ttf');
    font-style: normal;
}

@font-face {
    font-family: BalooBhai;
    src: url('Fonts/BalooBhai.ttf');
    font-style: normal;
}

@font-face {
    font-family: Montserrat;
    src: url('Fonts/Montserrat.ttf');
    font-style: normal;
}