#sellerLoginTopic{
    width: 70%;
    background: white;
    font-size: 300%;
    padding-left: 15%;
}

#logo1{
    width: 30%;
    vertical-align: top;
    align-content: center;
    padding-bottom: 25%;
}

#sellerSignInButtonArea{
    background-position: bottom;
    vertical-align: bottom;
    width: 40%;
    height: 40%;
    padding-top: 20%;
    alignment: center;
    margin-left: 30%;
}

#sellerSignInButton{
    background: #ee9933;
    color: white;
    padding-bottom: 10%;
    padding-top: 10%;
    width: 100%;
}

#sellerSignInFooter{
    position: absolute !important;
    bottom: 0;
    width: 100%;
    background: white;
    padding-left: 38%;
}

#usernameIcon{
    width: 10%;
    height: 10%;
    padding-left: 20%;
}

#passwordIcon{
    width: 10%;
    height: 10%;
    padding-left: 20%;
}

#usernameTextBox{
    width: 300px;
}

#passwordTextBox{
    width: 50%;
}