
table{
border: #ee9933;
  margin-top: 100px;
}
td {
    width:150px;
    height:150px;
    text-align:center;
    font-size:25px;
    background-color: #dddddd;
}
.abcde {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sky14 {
  color: #ffffff;
    font-size: 80px;
    font-family: BalooBhai;
  display: block;
  flex-grow: 1;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.abcde .Fresh.Mango {
    background-image: url(https://image.flaticon.com/icons/svg/8/8764.svg);
    cursor: pointer;
    width: 50px;
    height: 50px;
    margin: 20px;
}

p{
    margin: 20px;
    font-size: 40px;
    font-family: BalooBhai;
    color: #ffffff;

}

.wrapper {
  text-align: center;
  margin-top: 100px;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  width: 50%;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}
.button1 {
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
}

.button1:hover {
  /*background-color: #4CAF50;*/
  /*color: white;*/
  /*box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);*/

}
.countdown {
  margin: 0 auto;
  max-width: 350px;
  background: #000;
  font-family: Impact, Charcoal, sans-serif;
  text-align: center;
}
.countdown .header {
  color: #c61d1d;
  text-align: center;
  font-weight: normal;
  margin: 5px 0 10px 0;
}
.countdown .square {
  display: inline-block;
  padding: 10px;
  margin: 5px;
}
.countdown .digits {
  font-size: 24px;
  background: #fff;
  color: #000;
  padding: 20px 10px;
  border-radius: 5px;
}
.countdown .text {
  margin-top: 10px;
  color: #ddd;
}

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 16px;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.time {
  color: #3D4852;
  font-size: 2rem;
  padding: 2rem 0;
}

button {
  display: inline-block;
  font-size: 1rem;
  margin: 0 0.5rem;
  padding: 0.5rem 1rem;
}
